*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#add-post-btn{
    position: fixed;
    bottom: 5%;
    right: 7%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    font-size: 30px;
}
.form-control:focus{
    outline: green !important;
    border-color: green !important;
    box-shadow: 0 0 0 .25rem rgba(13, 253, 49, 0.147) !important;
}


/* Custom-Classes */
.max-width-100{
    max-width: 100px;
    
}


.loader {
    --d:22px;
    width: 4px;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto auto ;
    height: 4px;
    border-radius: 50%;
    color: #25b09b;
    box-shadow: 
      calc(1*var(--d))      calc(0*var(--d))     0 0,
      calc(0.707*var(--d))  calc(0.707*var(--d)) 0 1px,
      calc(0*var(--d))      calc(1*var(--d))     0 2px,
      calc(-0.707*var(--d)) calc(0.707*var(--d)) 0 3px,
      calc(-1*var(--d))     calc(0*var(--d))     0 4px,
      calc(-0.707*var(--d)) calc(-0.707*var(--d))0 5px,
      calc(0*var(--d))      calc(-1*var(--d))    0 6px;
    animation: l27 1s infinite steps(8);
  }
  @keyframes l27 {
    100% {transform: rotate(1turn)}
  }